{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {{ parent()}}
    {% include("./parts/banniere.html.twig") %}


                    <div class="container">
                    <div class="row mt-5">

    {% for produit in produit %}

            {% if loop.length >= 4 %}
                {% if loop.index == 1 %}

                    <div class="card col-3 mt-2" style="width: 18rem; border: 1px solid black; margin: auto; text-align: center">
                        <img class="card-img-top" src="{{ produit.image }}" height="250" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text">{{ produit.descriptionCourte }}</p>
                            <a href="{{ path('produit', {'id': produit.id, 'url': produit.nom|replace({' ':'-'})}) }}" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>

                {% elseif loop.index == 2 %}

                    <div class="card col-3 mt-2" style="width: 18rem; border: 1px solid black; margin: auto; text-align: center">
                        <img class="card-img-top" src="{{ produit.image }}" height="250" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nom }}</h5>
                            <p class="card-text">{{ produit.descriptionCourte }}</p>
                            <a href="{{ path('produit', {'id': produit.id, 'url': produit.nom|replace({' ':'-'})}) }}" class="btn btn-primary">Voir le produit</a>
                        </div>
                    </div>


                        {% elseif loop.index == 3 %}

                            <div class="card col-3 m-2" style="width: 18rem; border: 1px solid black; margin: auto; text-align: center">
                                <img class="card-img-top" src="{{ produit.image }}" height="250" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ produit.nom }}</h5>
                                    <p class="card-text">{{ produit.descriptionCourte }}</p>
                                    <a href="{{ path('produit', {'id': produit.id, 'url': produit.nom|replace({' ':'-'})}) }}" class="btn btn-primary">Voir le produit</a>
                                </div>
                            </div>


                        {% elseif loop.index == 4 %}

                            <div class="card col-3 m-2" style="width: 18rem; border: 1px solid black; margin: auto; text-align: center">
                                <img class="card-img-top" src="{{ produit.image }}" height="250" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ produit.nom }}</h5>
                                    <p class="card-text">{{ produit.descriptionCourte }}</p>
                                    <a href="{{ path('produit', {'id': produit.id, 'url': produit.nom|replace({' ':'-'})}) }}" class="btn btn-primary">Voir le produit</a>
                                </div>
                            </div>

                        {% endif %}

            {% endif %}


        {% endfor %}
    </div>
    </div>
{% endblock %}